@import "~normalize.css/normalize.css"

table, th, td
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;

pre
  font-size: 10px;


.dz
  margin: 10px;
  padding: 10px;
  min-height: 100px;
  height: auto;
  border: 2px dashed #666;

.dz-active
  border-style: solid;
  background: #dbecff;

.dz-reject
  borderStyle: solid;
  background: #ffdddd;